body{
    background-color: #53181e;
    color: cornsilk;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.tracinho{
    background-color: cornsilk;
    height: 1px;
}

a{color: rgb(255, 211, 211)}